In [1]:
# Installing of lib.
#!pip install selenium
#Importing Lib
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [2]:
#open the chromedriver
driver = webdriver.Chrome(r"E:\cromedriver\chromedriver.exe")

Ques. 1
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data

In [4]:
#Opening the url
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element_by_class_name("suggestor-input ")#extracting element
search_job.send_keys("Data Analyst")#Entering data in search box

In [7]:
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')#extracting element
search_locn.send_keys("Bangalore")#Entering data in search box

In [8]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[6]')#extracting element
search_btn.click()#Clicking on the seach bbutton

In [9]:
title_tags = [] #empty list
location = []
company = []
exper = []

tit = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title = tit[0:10]    #fixing the boundries(how much data we want to extract)
loc = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc = loc[0:10]    
com = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp = com[0:10]    
exp = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
expp = exp[0:10]   

for i in title:
    title_tags.append(i.text) #appending the text in Title_tags list
print(len(title_tags))
for j in locc:
    location.append(j.text) #Fetching text data
print(len(location))
for k in comp:
    company.append(k.text)
print(len(company))
for l in expp:
    exper.append(l.text)
print(len(exper))

10
10
10
10

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame() #Creating dataframe
df['Job Title'] = title_tags
df['Job Location'] = location
df['Company Name'] = company
df['Experience Required'] = exper
df

,Job Title,Job Location,Company Name,Experience Required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Hudsons bay Company (HBC),3-4 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
3,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
5,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
6,Business Analyst/Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, D...",Telamon HR Solutions,3-5 Yrs
7,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,2-5 Yrs
8,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs

Ques. 2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [14]:
#Opening the url
url1 = 'https://www.naukri.com/'
driver.get(url1)

In [15]:
search_job1 = driver.find_element_by_class_name("suggestor-input ")#extracting element
search_job1.send_keys("Data Scientist") #Entering data in search box

In [16]:
search_locn1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn1.send_keys("Bangalore")#Entering data in search box

In [17]:
search_btn1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn1.click()

In [18]:
title_tags1 = []
location1 = []
company1 = []

title_tag1 = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title1=title_tag1[0:10] #fixing the boundries(how much data we want to extract)
loc1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc1 = loc1[0:10]
com1 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp1 = com1[0:10]

for i in title1:
    title_tags1.append(i.text)#appending the text in Title_tags list
for j in locc1:
    location1.append(j.text) #Fetching location data
for k in comp1:
    company1.append(k.text) 
    
print(len(title_tags1)) #priting title_tags1
print(len(location1))
print(len(company1))

10
10
10

In [19]:
df1 = pd.DataFrame()
df1['Job Title'] = title_tags1
df1['Job Location'] = location1
df1['Company Name'] = company1
df1

,Job Title,Job Location,Company Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Senior Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",InnovAccer
3,Data Scientist,Bangalore/Bengaluru,IHS Markit
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
6,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
7,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
8,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
9,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics

Ques. 3
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [20]:
#Opening the url
url2 = 'https://www.naukri.com/'
driver.get(url2)

In [21]:
search_job2 = driver.find_element_by_class_name("suggestor-input ") #extracting element
search_job2.send_keys("Data Scientist") #Entering data in search box

In [22]:
search_btn2 = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn2.click() #Clicking on the search Button')

In [23]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[3]/span')
location_check.click() # Used location check to select “Delhi/NCR” and then we are clicking on to it.

In [25]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[2]/span')
salary_check.click() # Used salary check to select “3-6” lakhs and then we are clicking o

In [26]:
title_tags2 = []
location2 = []
company2 = []
exper2 = []

title_tag2= driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title2= title_tag2[0:10] #fixing the boundries(how much data we want to extract)
loc2 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
locc2 = loc2[0:10]
com2 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp2 = com2[0:10]
exp2 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
expp2 = exp2[0:10]

for i in title2:
    title_tags2.append(i.text) #appending the text in title_tags2 list
for j in locc2:
    location2.append(j.text) #Fetching location data
for k in comp2:
    company2.append(k.text)
for l in expp2:
    exper2.append(l.text)

print(len(title_tags2))#priting title_tags2
print(len(company2))
print(len(location2))
print(len(exper2))

10
10
10
10

In [27]:
df2 = pd.DataFrame()
df2['Job Title'] = title_tags2
df2['Job Location'] = location2
df2['Company Name'] = company2
df2['Experience Required'] = exper2
df2

,Job Title,Job Location,Company Name,Experience Required
0,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-21 Yrs
1,Senior Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",InnovAccer,4-9 Yrs
2,Research and Development -AI/ML -(PhD ),"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL,4-8 Yrs
3,Senior Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,5-9 Yrs
4,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm,9-13 Yrs
5,Opportunity For Data Scientist - Female Candid...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU,1-3 Yrs
6,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
7,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
8,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL,4-7 Yrs
9,Consultant - Data Scientist,Gurgaon/Gurugram,Teleperformance (TP),8-12 Yrs

Ques. 4
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price To scrape the data you have to go through following steps:
Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
Now scrape data from this page as usual
Repeat this until you get data for 100 sunglasses.

In [28]:
#Opening the url
url3 = 'https://www.flipkart.com/'
driver.get(url3)

In [29]:
search = driver.find_element_by_class_name("_3704LK") #extracting element
search.send_keys("Sun Glasses") #Entering data in search box

In [31]:
btn = driver.find_element_by_class_name('_1_3w1N')
btn.click()

In [44]:
start=0 #start page
end=3 #end page

brand = []
price = []
des = []
off = []

for page in range(start,end): #for loop for scrapping 3 page
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")#scraping brands name by class name
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in brands:
        brand.append(i.text) #appending the text in Brand list
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//div[@class='_2t2dSp']") #Scraping the list of buttons from the page

In [46]:
try:
        driver.get(nxt_button[1].get_attribute('href')) #Getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [47]:
b=brand[0:100]
p=price[0:100]
d=des[0:100]
o=off[0:100]

In [48]:
print('\n List of Brands:- \n', b)
print('\n \nProduct Description:- \n', d)
print('\n \n Price:- \n', p)
print('\n \n Discount:- \n', o)

 List of Brands:-
 []


Product Description:-
 []


 Price:-
 []


 Discount:-
 []

In [49]:
df3=pd.DataFrame() 
df3['Brand']=b
df3['Product Description'] = d
df3['Price']=p
df3['Discount']=o
df3

Empty DataFrame
Columns: [Brand, Product Description, Price, Discount]
Index: []

Ques. 5
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

You have to scrape the tick marked attributes.These are:

Rating
Review summary
Full review
You have to scrape this data for first 100 reviews.

In [51]:
url4 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url4)

In [52]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
next.click()

In [53]:
start=0
end=11
rating = []
review = []
full = []
for page in range(start,end):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    descp=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in descp:
        full.append(k.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [54]:
rr=rating[0:100]
re=review[0:100]
ff=full[0:100]

In [55]:
df4 = pd.DataFrame({'Ratings':rr,'Reviews':re,'Description':ff})
df4

,Ratings,Reviews,Description
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Don’t expect much from front camera… especiall...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

Ques. 6
Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price

In [56]:
url5 = 'https://www.flipkart.com/'
driver.get(url5)

In [57]:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("sneakers")

In [58]:
btn = driver.find_element_by_class_name('L0Z3Pu')
btn.click()

In [59]:
start=0
end=3
brand1 = []
price1 = []
des1 = []
for page in range(start,end): #for loop for scrapping 3 page
    brands1=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    prices1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp1=driver.find_elements_by_class_name('IRpwTa')

    for i in brands1:
        brand1.append(i.text) #appending the text in Brands1 list
    for j in prices1:
        price1.append(j.text)
    for k in descp1:
        des1.append(k.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand1))
print(len(price1))
print(len(des1))

120
120
120

In [60]:
bb=brand1[0:100]
pp=price1[0:100]
dd=des1[0:100]

In [61]:
df5=pd.DataFrame()
df5['Brand']=bb
df5['Product Description'] = dd
df5['Price']=pp
df5

,Brand,Product Description,Price
0,ADIDAS ORIGINALS,STAN SMITH VULC Sneakers For Men,"₹3,299"
1,Shoes Icon,DLS Fashionable Trandy Sports Shoes For Man's ...,₹399
2,Absolute comfort,Sneakers For Men,₹249
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284
4,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,658"
...,...,...,...
95,PUMA,Love Wn s Sneakers For Women,"₹1,525"
96,Roadster,Sneakers For Men,₹959
97,aadi,Sneakers For Men,₹449
98,PUMA,Graviton Pro Sneakers For Men,"₹2,761"
99,RapidBox,Sneakers For Men,₹650

Ques. 7
Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, and then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [62]:
url6 = 'https://www.myntra.com/shoes'
driver.get(url6)

In [63]:
#color check
col = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
col.click()

In [64]:
#price check
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [65]:
start=0
end=3
brand2 = []
price2 = []
des2 = []

for page in range(start,end): #for loop for scrapping 3 page
    brands2=driver.find_elements_by_xpath("//h3[@class='product-brand']") #scraping brands name by xpath
    prices2=driver.find_elements_by_xpath("//div[@class='product-price']")
    descp2=driver.find_elements_by_xpath("//h4[@class='product-product']")

    for i in brands2:
        brand2.append(i.text) #appending the text in Brands2
    for j in prices2:
        price2.append(j.text)
    for k in descp2:
        des2.append(k.text)

    nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand2))
print(len(price2))
print(len(des2))

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x01296463+2188387]
	Ordinal0 [0x0122E461+1762401]
	Ordinal0 [0x01143D78+802168]
	Ordinal0 [0x01137210+750096]
	Ordinal0 [0x0113675A+747354]
	Ordinal0 [0x01135D3F+744767]
	Ordinal0 [0x01134C28+740392]
	Ordinal0 [0x01135228+741928]
	Ordinal0 [0x0113EF2F+782127]
	Ordinal0 [0x01149FBB+827323]
	Ordinal0 [0x0114D310+840464]
	Ordinal0 [0x011354F6+742646]
	Ordinal0 [0x01149BF3+826355]
	Ordinal0 [0x0119CF6D+1167213]
	Ordinal0 [0x0118C5F6+1099254]
	Ordinal0 [0x01166BE0+945120]
	Ordinal0 [0x01167AD6+948950]
	GetHandleVerifier [0x015371F2+2712546]
	GetHandleVerifier [0x0152886D+2652765]
	GetHandleVerifier [0x0132002A+520730]
	GetHandleVerifier [0x0131EE06+516086]
	Ordinal0 [0x0123468B+1787531]
	Ordinal0 [0x01238E88+1805960]
	Ordinal0 [0x01238F75+1806197]
	Ordinal0 [0x01241DF1+1842673]
	BaseThreadInitThunk [0x7642DEA4+36]
	RtlInitializeCriticalSectionAndSpinCount [0x770F00BE+670]
	RtlInitializeCriticalSectionAndSpinCount [0x770F008D+621]

In [66]:
bbb= brand2[0:100]
ppp=price2[0:100]
ddd=des2[0:100]

In [67]:
df6 = pd.DataFrame()
df6['Brand']=bbb
df6['Short Shoe Description'] = ddd
df6['Price of the Shoe'] = ppp
df6

,Brand,Short Shoe Description,Price of the Shoe
0,ALDO,Men Leather Loafers,Rs. 7799Rs. 12999(40% OFF)
1,Nike,Men React Infinity 3 Running,Rs. 11196Rs. 13995(20% OFF)
2,ALDO,Men Leather Loafers,Rs. 7999Rs. 15999(50% OFF)
3,Nike,Men KD 15 Basketball Shoes,Rs. 11895Rs. 13995(15% OFF)
4,Nike,Women React MR 3 Running Shoes,Rs. 8396Rs. 10495(20% OFF)
5,Nike,Women React Escape Running,Rs. 9196Rs. 11495(20% OFF)
6,Nike,Women Free Metcon 4 Training,Rs. 8796Rs. 10995(20% OFF)
7,UNDER ARMOUR,Men HOVR Sonic SE Running Shoe,Rs. 9999
8,Puma,Eternity Nitro Running Shoes,Rs. 9749Rs. 12999(25% OFF)
9,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
10,ADIDAS,Men Defiant Generation Tennis,Rs. 9999
11,Nike,Men Colourblocked Sneakers,Rs. 9175Rs. 10795(15% OFF)
12,ADIDAS,Men Solar Glide 4 ST Running,Rs. 11249Rs. 14999(25% OFF)
13,Skechers,Men MAX CUSHIONING ELITE-LUCID,Rs. 7599Rs. 9499(20% OFF)
14,ADIDAS Originals,Men Solid Oznova Sneakers,Rs. 10199Rs. 11999(15% OFF)
15,UNDER ARMOUR,Men UA Charged Vantage 2 Run,Rs. 7999
16,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9899Rs. 9999(1% OFF)
17,ADIDAS,Men Adizero Boston 11 Running,Rs. 10499Rs. 13999(25% OFF)
18,Puma,Men Velocity Nitro Running,Rs. 8999Rs. 11999(25% OFF)
19,New Balance,Men Woven Design Suede Sneakers,Rs. 7799Rs. 12999(40% OFF)
20,Hush Puppies,Men Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
21,Tommy Hilfiger,Men JEANS RETRO BASKET Sneaker,Rs. 7309Rs. 8599(15% OFF)
22,ADIDAS,Women KarlieKlossX9000 Running,Rs. 8399Rs. 13999(40% OFF)
23,Puma,Men Deviate Nitro Shoes,Rs. 10499Rs. 14999(30% OFF)
24,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
25,Puma,Men M Nitro Running Shoess,Rs. 9099Rs. 12999(30% OFF)
26,UNDER ARMOUR,Women Charged Breeze Running,Rs. 8999
27,ADIDAS,Women SL20.3 Running Shoes,Rs. 11999
28,UNDER ARMOUR,Women Hovr Sonic SE Run Shoes,Rs. 9999
29,Geox,Men Lightweight Sneakers,Rs. 11990
30,ADIDAS,Women SN1997 Running Shoes,Rs. 7799Rs. 12999(40% OFF)
31,ASICS,Men GEL-Quantum 360 6 Sports,Rs. 13999
32,Saint G,Leather Ankle Boots,Rs. 9405Rs. 9900(5% OFF)
33,Skechers,Men Textured Sneakers,Rs. 7999
34,Geox,Men Leather Sneakers,Rs. 9891Rs. 10990(10% OFF)
35,Clarks,Men Leather Slip-Ons,Rs. 7899Rs. 9999(21% OFF)
36,Puma,Women Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
37,Columbia,Women Trekking Shoes,Rs. 8999
38,KIPRUN By Decathlon,Men Running Shoes,Rs. 10099
39,Puma,Unisex KING Pro 21 Football,Rs. 7499Rs. 9999(25% OFF)
40,Saint G,Leather Block Sandals,Rs. 9810Rs. 10900(10% OFF)
41,Puma,Men Velocity Nitro 2 Running,Rs. 7699Rs. 10999(30% OFF)
42,ASICS,GEL-Pulse 13 Running Shoes,Rs. 7999
43,Geox,Leather Block Sandals,Rs. 7693Rs. 10990(30% OFF)
44,Saint G,Leather Block Sandals with Buckles,Rs. 8505Rs. 10500(19% OFF)
45,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
46,Heel & Buckle London,Men Leather Sneakers,Rs. 11192Rs. 13990(20% OFF)
47,Geox,Men Perforations Sneakers,Rs. 12591Rs. 13990(10% OFF)
48,Saint G,Leather Block Heeled Boots with Buckles,Rs. 10355Rs. 10900(5% OFF)
49,Geox,Men Textured Leather Sneakers,Rs. 9990

Ques. 8
Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price

In [68]:
url7 = 'https://www.amazon.in/'
driver.get(url7) #opening the url

In [69]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop') #Sending the keys

In [70]:
butt=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
butt.click() #clicking on the search button

In [72]:
i7=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
i7.click() # Currectly Check box was not available here in the website so, first scrapping data for i7 then for i9.

In [73]:
# Scrapping the price for 1st 10 laptop's
pri = []
pric=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in pric:
    pri.append(i.text) #appending text
p= pri[0:10] #Fixing the limit(only 10 laptops)

In [74]:
# Locating the url's for each laptop's
urls=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
UR=[]
for i in urls[0:10]:
    UR.append(i.get_attribute('href')) #getting the url of first 10 laptops

In [75]:
rating=[]
nam = []

for i in UR:    
    try:   #here i used try and except because there were few laptops where ratings were not there in the website
        driver.get(i)
        rate=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        rating.append(rate.text)
    except NoSuchElementException:
        rating.append("NO rating")

for j in UR:
    try:
        driver.get(j)
        name=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        nam.append(name.text.split(',')[0].replace(',','\n'))
    except NoSuchElementException:
        rating.append("No Title available")

print(len(rating))
print(len(nam))

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x01296463+2188387]
	Ordinal0 [0x0122E461+1762401]
	Ordinal0 [0x01143D78+802168]
	Ordinal0 [0x01137210+750096]
	Ordinal0 [0x0113675A+747354]
	Ordinal0 [0x01135D3F+744767]
	Ordinal0 [0x01134C28+740392]
	Ordinal0 [0x01135228+741928]
	Ordinal0 [0x0113EF2F+782127]
	Ordinal0 [0x01149FBB+827323]
	Ordinal0 [0x0114D310+840464]
	Ordinal0 [0x011354F6+742646]
	Ordinal0 [0x01149BF3+826355]
	Ordinal0 [0x0119CF6D+1167213]
	Ordinal0 [0x0118C5F6+1099254]
	Ordinal0 [0x01166BE0+945120]
	Ordinal0 [0x01167AD6+948950]
	GetHandleVerifier [0x015371F2+2712546]
	GetHandleVerifier [0x0152886D+2652765]
	GetHandleVerifier [0x0132002A+520730]
	GetHandleVerifier [0x0131EE06+516086]
	Ordinal0 [0x0123468B+1787531]
	Ordinal0 [0x01238E88+1805960]
	Ordinal0 [0x01238F75+1806197]
	Ordinal0 [0x01241DF1+1842673]
	BaseThreadInitThunk [0x7642DEA4+36]
	RtlInitializeCriticalSectionAndSpinCount [0x770F00BE+670]
	RtlInitializeCriticalSectionAndSpinCount [0x770F008D+621]

In [76]:
print("\n Name Of Laptop's :-\n \n", nam )
print("\n\n Rating's of Each Laptop :- \n \n", rating)
print("\n\n Price of Laptop's :- \n \n", p)

 Name Of Laptop's :-

 []


 Rating's of Each Laptop :-

 ['4.3 out of 5', '1.8 out of 5', '4.1 out of 5']


 Price of Laptop's :-

 ['45,603', '36,350', '25,990', '29,490', '22,990', '25,490', '71,100', '68,000', '', '28,980']

In [77]:
df7 = pd.DataFrame({'Name of laptops':nam,'Ratings of the Laptops':rating,'Price of the Laptops':p})
df7

ValueError: All arrays must be of the same length

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
Click on the Job option
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
Then scrape the data for the first 10 jobs results.
Finally create a dataframe of the scraped data

In [78]:
url8 = 'https://www.ambitionbox.com/'
driver.get(url8)

In [79]:
job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [81]:
sear = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
sear.send_keys('Data Scientist')

In [83]:
butto=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
butto.click()

In [85]:
loca=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[3]/div/div[2]/p')
loca.click()

In [92]:
ty=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[3]/div/div[2]/input')
ty.send_keys('Noida')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[3]/div/div[2]/input"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x01296463+2188387]
	Ordinal0 [0x0122E461+1762401]
	Ordinal0 [0x01143D78+802168]
	Ordinal0 [0x01171880+989312]
	Ordinal0 [0x01171B1B+989979]
	Ordinal0 [0x0119E912+1173778]
	Ordinal0 [0x0118C824+1099812]
	Ordinal0 [0x0119CC22+1166370]
	Ordinal0 [0x0118C5F6+1099254]
	Ordinal0 [0x01166BE0+945120]
	Ordinal0 [0x01167AD6+948950]
	GetHandleVerifier [0x015371F2+2712546]
	GetHandleVerifier [0x0152886D+2652765]
	GetHandleVerifier [0x0132002A+520730]
	GetHandleVerifier [0x0131EE06+516086]
	Ordinal0 [0x0123468B+1787531]
	Ordinal0 [0x01238E88+1805960]
	Ordinal0 [0x01238F75+1806197]
	Ordinal0 [0x01241DF1+1842673]
	BaseThreadInitThunk [0x7642DEA4+36]
	RtlInitializeCriticalSectionAndSpinCount [0x770F00BE+670]
	RtlInitializeCriticalSectionAndSpinCount [0x770F008D+621]

In [93]:
cli=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
cli.click()

In [95]:
heading = []
names = []
days = []
ratings = []
head=driver.find_elements_by_xpath("//a[@class='title noclick']")#scraping brands name by class name='_2WkVRV'
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
day =driver.find_elements_by_xpath("//span[@class='body-small-l']")
rat =driver.find_elements_by_xpath("//span[@class='body-small']")
for i in head:
    heading.append(i.text)
for j in name:
    names.append(j.text)
for k in day:
    days.append(k.text)
for l in rat:
    ratings.append(l.text)
print(len(heading))
print(len(names))
print(len(days))
print(len(ratings))
10

10
10
20
10

10

In [96]:
names

['Amazon',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Schneider Electric India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [97]:
heading

['Amazon - Manager - Business Intelligence (8-12 yrs)',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Advanced Analytics',
 'Principal - Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [98]:
d=days[0:20:2]#Extracting the required data
d

['3hr ago',
 '2d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '6d ago',
 '6d ago']

In [99]:
ratings

['4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4.4', '4.2', '4.2']

In [100]:
df8 =pd.DataFrame()
df8['Company Name'] = names
df8['No. of days ago when job was posted'] = d
df8['Rating of the company'] = ratings
df8

,Company Name,No. of days ago when job was posted,Rating of the company
0,Amazon,3hr ago,4.2
1,IBM India Pvt. Limited,2d ago,4.2
2,IBM India Pvt. Limited,3d ago,4.2
3,Schneider Electric India Pvt. Ltd.,3d ago,4.2
4,IBM India Pvt. Limited,3d ago,4.2
5,IBM India Pvt. Limited,3d ago,4.2
6,Walmart Labs,3d ago,4.2
7,Shell India Markets Private Limited,3d ago,4.4
8,IBM India Pvt. Limited,6d ago,4.2
9,IBM India Pvt. Limited,6d ago,4.2

Ques. 10
Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:

First get the webpage https://www.ambitionbox.com/
Click on the salaries option
After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
Store the data in a dataframe.

In [101]:
url9 = 'https://www.ambitionbox.com/'
driver.get(url9)

In [102]:
sal = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [103]:
sea=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
sea.send_keys('Data Scientist')

In [104]:
cc=driver.find_element_by_xpath("//div[@class='suggestion']")
cc.click()

In [105]:
sal = []
minn = []
maax = []
avg = []
bas = []
exp = []

sall= driver.find_elements_by_class_name('name') #scraping by class name
miin = driver.find_elements_by_class_name('salary-values')
mixx= driver.find_elements_by_class_name('salary-values')
avgg= driver.find_elements_by_class_name('averageCtc')
base= driver.find_elements_by_class_name('name')
expp= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

for i in sall:
    sal.append(i.text.split('\n')[0])  #Spliting the data and fetching the required data what we want.
for j in miin:
    minn.append(j.text.split('\n')[0])
for k in mixx:
    maax.append(k.text.split('\n')[1])
for l in avgg:
    avg.append(l.text)

for m in base:
    bas.append(m.text.split('\n')[-1])
b =bas[0:10]
for n in expp:
    exp.append(n.text.split('\n')[-1])
    
s= sal[0:10] #Fixing the limit of the data that we want
mx = maax[0:10]
mi = minn[0:10]
a = avg[0:10]
e=exp[0:10]

In [106]:
df9 = pd.DataFrame({'Company Name':s,'Number of salaries':b,'Minimum Salary':mi,'Average Salary':a,'Maximum Salary':mx,'Experience Required':e})
df9

ValueError: All arrays must be of the same length

In [ ]:
driver.close()